INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "cpu_lock.h"
#include "device.h"

CRE_TSK(SWITCH_TASK, { TA_ACT, 0, switch_task, DEFAULT_PRIORITY, STACK_SIZE, NULL });

ATT_INI({ TA_NULL, 0, switch_slide_init });
ATT_INI({ TA_NULL, 0, push1_int_init });

CFG_INT(INTNO_PUSH1, { (TA_ENAINT), PUSH1_INT_LVL });
DEF_INH(INHNO_PUSH1, { TA_NULL, push1_handler });
