INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "sw_int_api.h"
#include "device.h"

/* TA_ACT: 生成と同時に起動。タスク本体冒頭で slp_tsk() で起床待ちに */
CRE_TSK(LED1_TASK, { TA_ACT, 0, led1_task, DEFAULT_PRIORITY, STACK_SIZE, NULL });

ATT_INI({ TA_NULL, 0, led_init });
ATT_INI({ TA_NULL, 0, push1_int_init });

CFG_INT(INTNO_PUSH1, { (TA_ENAINT), PUSH1_INT_LVL });
DEF_INH(INHNO_PUSH1, { TA_NULL, push1_handler });
