INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "led_2tasks.h"
#include "device.h"

/* 同じ関数 led_task を指定し，exinf で区別 */
CRE_TSK(LED1_TASK, { TA_ACT, 0, led_task, DEFAULT_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LED3_TASK, { TA_ACT, 1, led_task, DEFAULT_PRIORITY, STACK_SIZE, NULL });

ATT_INI({ TA_NULL, 0, led_init });
