INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "sw_flg_cyc.h"
#include "device.h"

CRE_TSK(LED_TASK, { TA_ACT, 0, led_task, DEFAULT_PRIORITY, STACK_SIZE, NULL });

ATT_INI({ TA_NULL, 0, led_init });
ATT_INI({ TA_NULL, 0, switch_slide_init });
ATT_INI({ TA_NULL, 0, state_init });

CRE_CYC(SW_CYC_HANDLER, { TA_STA, 0, sw_cyc_handler, SW_SCAN_INTERVAL, 1 });

/* TA_CLR: 待ち解除時にビットを自動クリア */
CRE_FLG(SW_FLG, { TA_CLR, 0 });
