INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "ex_sem.h"

CRE_TSK(TASK1, { TA_ACT, 1, task, DEFAULT_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(TASK2, { TA_ACT, 2, task, DEFAULT_PRIORITY, STACK_SIZE, NULL });

CRE_CYC(ROT_CYC_HANDLER, { TA_STA, 0, rot_cyc_handler, ROT_INTERVAL, 0 });

/* 排他制御用バイナリセマフォ（初期値=最大値=1） */
CRE_SEM(SEM1, { TA_NULL, 1, 1 });
